/*Homepage - Stylesheet */

/*Form body*/
/* Title of the webpage */
.webpage-title {

    height: 100px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px
    
}

.lpp-form {
    border: 100px;
}

/*Form text properties*/
.proprety-rubric {
   padding: 10px;
}

label {
    font-weight: bold;
}


